In [1]:
%pylab inline
%config InlineBackend.figure_formats = ['retina']

import pandas as pd
import seaborn as sns
sns.set()

Populating the interactive namespace from numpy and matplotlib

In [9]:
## Load in the Ames Housing Data
datafile = 'https://raw.githubusercontent.com/quyetzz/Analysis-of-university-exam-scores-in-2019-2020/main/clean_data.csv'
df = pd.read_csv(datafile)

In [10]:
## Examine the columns, look at missing data
df

,sbd,tên,dd,mm,yy,toán,ngữ văn,khxh,khtn,lịch sử,địa lí,gdcd,sinh học,vật lí,hóa học,tiếng anh
0,2000001,Phạm Hoàng Hương Ái,4,11,2002,6.6,6.25,6.67,-1.00,5.75,7.00,7.25,-1.00,-1.00,-1.00,5.2
1,2000002,Đặng Huỳnh Vĩnh An,13,12,2002,8.2,7.75,7.58,-1.00,7.00,7.25,8.50,-1.00,-1.00,-1.00,7.0
2,2000003,Lâm Nguyễn Mộng Thùy An,6,4,2001,6.8,6.75,6.92,-1.00,4.75,7.75,8.25,-1.00,-1.00,-1.00,6.0
3,2000004,Lê Tiêu Hoàng An,18,11,2002,7.8,6.25,-1.00,6.25,-1.00,-1.00,-1.00,7.00,5.50,6.25,5.6
4,2000005,Lư Thuận An,14,1,2002,6.4,6.50,-1.00,6.17,-1.00,-1.00,-1.00,5.50,6.75,6.25,8.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74439,2074714,Nguyễn Đình Hải Yến,10,11,2002,5.4,5.92,-1.00,4.67,-1.00,-1.00,-1.00,5.50,3.50,5.00,-1.0
74440,2074715,Nguyễn Thị Hải Yến,5,5,2002,8.6,7.00,-1.00,7.92,-1.00,-1.00,-1.00,6.75,8.25,8.75,6.2
74441,2074716,Nguyễn Trần Tiểu Yến,7,10,2002,9.2,7.50,-1.00,8.50,-1.00,-1.00,-1.00,8.25,8.75,8.50,6.2
74442,2074717,Phạm Thị Kim Yến,20,11,2002,9.0,7.00,-1.00,8.00,-1.00,-1.00,-1.00,6.75,8.00,9.25,7.0
74443,2074718,Văn Hồng Yến,27,10,2002,5.6,6.50,-1.00,-1.00,6.50,7.25,-1.00,-1.00,-1.00,-1.00,-1.0

In [11]:
print("Number of rows in the data:", df.shape[0])
print("Number of columns in the data:", df.shape[1])
data = df.copy() # Keep a copy our original data

Number of rows in the data: 74444
Number of columns in the data: 16

In [22]:
# A quick look at the data:
data.head()

,sbd,tên,dd,mm,yy,toán,ngữ văn,khxh,khtn,lịch sử,địa lí,gdcd,sinh học,vật lí,hóa học,tiếng anh
0,2000001,Phạm Hoàng Hương Ái,4,11,2002,6.6,6.25,6.67,-1.00,5.75,7.00,7.25,-1.0,-1.00,-1.00,5.2
1,2000002,Đặng Huỳnh Vĩnh An,13,12,2002,8.2,7.75,7.58,-1.00,7.00,7.25,8.50,-1.0,-1.00,-1.00,7.0
2,2000003,Lâm Nguyễn Mộng Thùy An,6,4,2001,6.8,6.75,6.92,-1.00,4.75,7.75,8.25,-1.0,-1.00,-1.00,6.0
3,2000004,Lê Tiêu Hoàng An,18,11,2002,7.8,6.25,-1.00,6.25,-1.00,-1.00,-1.00,7.0,5.50,6.25,5.6
4,2000005,Lư Thuận An,14,1,2002,6.4,6.50,-1.00,6.17,-1.00,-1.00,-1.00,5.5,6.75,6.25,8.2

In [26]:
# Get a Pd.Series consisting of all the string categoricals
one_hot_encode_cols = data.dtypes[data.dtypes == np.object]  # filtering by string categoricals
one_hot_encode_cols = one_hot_encode_cols.index.tolist()  # list of categorical fields

data[one_hot_encode_cols].head().T

,0,1,2,3,4
tên,Phạm Hoàng Hương Ái,Đặng Huỳnh Vĩnh An,Lâm Nguyễn Mộng Thùy An,Lê Tiêu Hoàng An,Lư Thuận An

In [28]:
# Create a list of float colums to check for skewing
mask = data.dtypes == np.float
float_cols = data.columns[mask]

skew_limit = 0.75 # define a limit above which we will log transform
skew_vals = data[float_cols].skew()

In [29]:
# Showing the skewed columns
skew_cols = (skew_vals
             .sort_values(ascending=False)
             .to_frame()
             .rename(columns={0:'Skew'})
             .query('abs(Skew) > {}'.format(skew_limit)))

skew_cols

               Skew
tiếng anh -0.880548
toán      -1.494550
ngữ văn   -3.234554